body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300px;
}

img{
    height: 90px;
    width: 100px;
    cursor: vertical-text;
    margin-left: 20px;
}

@media (max-width: 600px) { /* Aplicar estilos específicos para pantallas más pequeñas */
    h1 {
        font-size: 3rem; /* Reducir el tamaño de fuente para dispositivos móviles */
    }
}
